* {
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
}

.game-rules-list-div {
  width: 50%;
  height: auto;
}

.game-rules-list-div cite {
  color: red;
}

/* ------------------------------------ CSS for playing Anagram Hunt -------------------------------  */
.question-lbl {
  font-size: 1.5rem;
  font-weight: bold;
}

.input-wrapper {
  position: relative;
  display: flex;
}

#anagram-hunt-answer-input {
  flex: 1;
}

#x-clear-btn {
  background: white;
  border: 1px solid grey;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
}

.answer-input {
  width: 20rem;
  border: 1px solid grey;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
}

.score-input-div input,
.time-left-div input {
  cursor: not-allowed;
  background-color: floralwhite;
  border: none;
}

.score-input-div input {
  color: navy;
}

.time-left-div input {
  color: crimson;
}

#anagram-back-to-start-btn {
  background-color: navy;
}

#anagram-play-again-btn,
#anagram-play-btn,
#anagram-enter-btn {
  background-color: green;
}

.quit-btn {
  background-color: red;
}

#anagram-back-to-start-btn,
#anagram-play-again-btn,
#anagram-play-btn {
  width: 20rem;
  height: 2.5rem;
  color: white !important;
  font-weight: bold;
  font-size: larger;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
}

#anagram-enter-btn,
.quit-btn {
  height: 2.5rem;
  color: white;
  background-color: green;
  font-weight: bold;
  font-size: larger;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
}

#anagram-back-to-start-btn:hover,
#anagram-play-again-btn:hover,
#anagram-play-btn:hover,
.quit-btn:hover,
#anagram-enter-btn:hover {
  background-color: gray;
}

#anagram-back-to-start-btn:active,
#anagram-play-again-btn:active,
#anagram-play-btn:active,
.quit-btn:active,
#anagram-enter-btn:active {
  background-color: gray;
  border: 2px inset white;
}

/* Shake animation */
@keyframes shake {
  0% {transform: translate(1px, 1px) rotate(0deg);}
  10% {transform: translate(-1px, -2px) rotate(-1deg);}
  20% {transform: translate(-3px, 0px) rotate(1deg);}
  30% {transform: translate(3px, 2px) rotate(0deg);}
  40% {transform: translate(1px, -1px) rotate(1deg);}
  50% {transform: translate(-1px, 2px) rotate(-1deg);}
  60% {transform: translate(-3px, 1px) rotate(0deg);}
  70% {transform: translate(3px, 1px) rotate(-1deg);}
  80% {transform: translate(-1px, -1px) rotate(1deg);}
  90% {transform: translate(1px, 2px) rotate(0deg);}
  100% {transform: translate(1px, -2px) rotate(-1deg);}
}

.shake {
  animation: shake 0.5s;  /*shake for 1/2 a second*/
  animation-iteration-count: 3 /*repeat animation 3 times*/
}

div.error {
  font-style: italic;
  color: red;
}

.game-header {
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;
}

.score-form {
  width: 20rem;
  overflow: hidden;
}

.score-input-div,
.time-left-div {
  font-size: 1.2rem;
}


#anagram-score-lbl,
#anagram-time-left-lbl {
  margin: 0 0.167rem 0.167rem 0.67rem;
  padding: 0 !important;
}

#anagram-score-input,
#anagram-time-input {
  width: 13rem;
  margin: 0 0 0.167rem 0.67rem;
  padding: 0.167rem !important;
}

#anagram-question-answer-div {
  width: 20rem !important;
}

#anagram-user-answer-list {
  width: 16rem;
}

#anagram-quit-btn-div,
#word-len-input,
#anagram-back-to-start-btn,
#anagram-play-again-btn,
#anagram-play-btn,
#question-div,
#answer-div,
#enter-div,
#anagram-enter-btn,
#quit-div,
#anagram-quit-btn {
  width: 20rem;
}

/* ------------------------------------ Final Screen CSS -------------------------------  */

h3.times-up-note {
  color: rgb(224, 18, 128);
  font-size: 2rem;
}

/* ie: "You found:" */
p.final-score-header {
  font-size: 2rem;
}

p.final-score {
  color: darkblue;
  font-size: 3rem;
}

.apology {
  color: red;
  font-weight: bold;
}

/* ------------------------------------ Media Queries for Mobile Responsiveness -------------------------------  */
/* BEGIN @media (max-width: 1370px)
~ Landscape width of a 13" Surface Pro tablet or an iPad Pro */
@media (max-width: 1370px) {
  * {
    box-sizing: border-box;
  }
}  /* END @media (max-width: 1370px) */

/* Custom styles for Bootstrap medium screens (768px wide) and smaller */
@media (max-width: 768px) {
  .game-rules-list-div {
    width: 75%;
    height: auto;
  }
}
/* END Custom styles for Bootstrap medium screens (768px wide) and smaller */

/* Custom styles for Bootstrap small screens (576px wide) and smaller */
@media (max-width: 576px) {
  #anagram-quit-btn-div,
  #word-len-input,
  #anagram-back-to-start-btn,
  #anagram-play-again-btn,
  #anagram-play-btn,
  #anagram-score-lbl,
  #anagram-time-left-lbl,
  #anagram-score-input,
  #anagram-time-input,
  .answer-input,
  #question-div,
  #answer-div,
  #enter-div,
  #anagram-enter-btn,
  #anagram-user-answer-list,
  #quit-div,
  #anagram-quit-btn {
    width: 16rem;
    text-align: center;
  }
  
  #anagram-back-to-start-btn,
  #anagram-play-again-btn {
    font-size: smaller;
  }
}
/* END Custom styles for Bootstrap small screens (576px wide) and smaller */


/* BEGIN @media (max-width: 932px) and (max-height: 440px):
~ Screen width and height in landscape mode of iPhone 14 Pro Max */
@media (max-width: 932px) and (max-height: 440px) {
  p.game-description {
    display: none;
  }
}  /*  END @media (max-width: 932px) and (max-height: 440px) */

/* BEGIN @media (max-width: 375px) and (max-height: 740px):
~ Screen width and height in portrait mode of Samsung Galaxy S8 */
@media (max-width: 390px) and (max-height: 845px) {
  p.game-description {
    display: none;
  }
} /*  END @media (max-width: 375px) and (max-height: 740px) */

