* {
  box-sizing: border-box;
}

#contact-us-response {
  display: none;
  font-size: 0.65rem;
}

form.card {
  background-color: floralwhite;
  border: 1px solid grey;
  border-radius: 0.6rem;
  box-shadow: 0.6rem 0.6rem 0.6rem lightgrey;
}

.form-content {
  width: 95%;
}

form input, form textarea {
  border: 1px solid gray !important;
}

form textarea {
  height: 8rem;
}

#age-verification-ckbx {
  width: 1.5rem;
  height: 1.5rem;
}

.required::after {
  content: "*";
  color: red;
}

label.error {
  font-weight: bold;
  font-style: italic;
  color: red;
}

div.error {
  font-weight: normal;
  font-size: 0.8rem;
  font-style: italic;
  color: red;
}

#login-btn-div, #register-btn-div  {
  height: 2.5rem;
}

#send-msg-btn, #reset-form-btn, #login-btn, #reset-register-form-btn {
  width: 6rem;
  height: 2.5rem;
  padding: 0.33rem;
}

#reset-form-btn, #reset-register-form-btn {
  color: white;
  background-color: red;
  font-weight: bold;
  font-size: larger;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
}

#reset-form-btn:active, #reset-register-form-btn:active {
  background-color: gray;
  border: 2px inset white;
}

#reset-form-btn:hover, #reset-register-form-btn:hover {
  background-color: gray;
}

#contact-disclaimer {
  color: red;
}


/* ------------------------------------ Media Queries for Mobile Responsiveness -------------------------------  */

/* BEGIN @media (max-width: 1370px) 
~ Landscape width of a 13" Surface Pro tablet or an iPad Pro */
@media (max-width: 1370px){
  * {
    box-sizing: border-box;
  }
  
  #login-btn-div  {
    height: 2.5rem;
  }
}
/* END @media (max-width: 1370px) 
~ Landscape width of a 13" Surface Pro tablet or an iPad Pro */
