* {
  box-sizing: border-box;
}

.game-description {
  width: auto;
  height: auto;
  margin: 0 auto 0.6rem;
  padding: 0;
  font-size: 1.2rem;
}

p.game-description, #math-facts-select-lbl, .game-select-div {
  text-align: center;
}

#math-facts-select-lbl {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: cursive;
  color: rgb(224, 18, 128); /* hot pink, but actual hot pink, not the bubble gum pink material calls "hotpink" */
}

#math-facts-select {
  height: 2.5rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
}

.game-rules-list-div {
  width: 45%;
  height: auto;
  margin: 0 auto 2rem;
  padding: 0;
}

.game-rules-list-div cite {
  color: red;
}

.game-rules-list-div cite > span {
  font-weight: bold;
}

.game-rules-list li {
  margin: 0.67rem;
  padding: 0.33rem;
}

.question-answer-div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}

.question-lbl {
  width: auto;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.answer-input {
  width: 19rem;
  height: 2.5rem;
  margin: 0.33rem auto 1rem  auto;
  padding: 0.67rem;
  border: 1px solid grey;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
}

.score-form {
  width: 19rem;
  height: auto;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.score-input-div, .time-left-div {
  width: 100%;
  height: auto;
  margin-bottom: 0.67rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: larger;
  align-content: start;
}

.score-input-div label,
.time-left-div label {
  width: 36%;
  height: 1.67rem;
  margin-right: 0.33rem;
  padding: 0;
  text-align: right;
}

.score-input-div input,
.time-left-div input {
  cursor: not-allowed;
  width: 62%;
  height: 1.67rem;
  margin: 0;
  padding-bottom: 0.33rem;
  font-weight: bold;
  background-color: floralwhite;
  border: none;
}

.score-input-div input {
  color: navy;
}

.time-left-div input {
  color: crimson;
}

.quit-btn {
  width: 75%;
  height: 2.5rem;
  margin: 0.5rem auto 2rem;
  color: white;
  background-color: red;
  font-weight: bold;
  font-size: larger;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
}

.quit-btn:hover {
  background-color: gray;
}

.quit-btn:active {
  background-color: gray;
  border: 2px inset white;
}

/* Shake animation */
@keyframes shake {
  0% {transform: translate(1px, 1px) rotate(0deg);}
  10% {transform: translate(-1px, -2px) rotate(-1deg);}
  20% {transform: translate(-3px, 0px) rotate(1deg);}
  30% {transform: translate(3px, 2px) rotate(0deg);}
  40% {transform: translate(1px, -1px) rotate(1deg);}
  50% {transform: translate(-1px, 2px) rotate(-1deg);}
  60% {transform: translate(-3px, 1px) rotate(0deg);}
  70% {transform: translate(3px, 1px) rotate(-1deg);}
  80% {transform: translate(-1px, -1px) rotate(1deg);}
  90% {transform: translate(1px, 2px) rotate(0deg);}
  100% {transform: translate(1px, -2px) rotate(-1deg);}
}

.shake {
  animation: shake 0.5s;  /*shake for 1/2 a second*/
  animation-iteration-count: 3 /*repeat animation 3 times*/
}


/* ------------------------------------ CSS for playing Math Facts operations -------------------------------  */
div.error {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-style: italic;
  color: red;
}

div#math-facts-game {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  text-align: center;
}

.game-header {
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;
}

#math-question-answer-div > * {
  display: block;
}

div#calculator {
  display: flex;
  width: 19rem;
  height: auto;
  margin: 1rem auto;
  padding: 0;
  justify-content: center;
  align-items: center;
}

div#calculator-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.67rem;
}

#calculator-enter-btn {
  grid-column: span 2;
}

#calculator-buttons button {
  min-width: 5rem;
  min-height: 2.5rem;
  padding: 0.67rem;
  color: white;
  font-size: larger;
  font-weight: bold;
}

#calculator-buttons button.enabled {
  cursor: pointer;
  background-color: green;
  border: 2px solid darkslategrey;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
}

#calculator-buttons button.disabled {
  cursor: not-allowed;
  background-color: darkslategrey;
  border: none;
  box-shadow: none;
}

#calculator-buttons button.disabled:hover {
  background-color: darkslategrey;
  border: none;
  box-shadow: none;
}

#calculator-buttons button:hover {
  background-color: gray;
  border-color: lightgrey;
}

#calculator-buttons button:active {
  border: 2px inset white;
}

#math-facts-answer-input.enabled {
  cursor: pointer;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
}

#math-facts-answer-input.disabled {
  cursor: not-allowed;
  background-color: lightslategray;
  border: none;
  box-shadow: none;
}


/* ------------------------------------ Final Screen CSS -------------------------------  */

.final-screen {
  text-align: center;
}

.site-page-div > p.times-up-note {
  margin: 2rem;
  padding: 0;
  color: rgb(224, 18, 128);
  font-size: 1.5rem;
  font-weight: bold;
}

/* ie: "Your final score is:" */
.final-score-header {
  margin: 1rem;
  padding: 0;
  font-weight: normal;
  font-size: 2rem;
}

.final-score {
  margin: 2rem;
  padding: 0;
  color: darkblue;
  font-size: 3rem;
}

.apology {
  color: red;
  font-weight: bold;
}

.play-again-btn {
  margin: 0.5rem auto 2.4rem;
}

/* ------------------------------------ Media Queries for Mobile Responsiveness -------------------------------  */
/* BEGIN @media (max-width: 1370px)
~ Landscape width of a 13" Surface Pro tablet or an iPad Pro */
@media (max-width: 1370px) {
  * {
    box-sizing: border-box;
  }
}  /* END @media (max-width: 1370px) */

/* BEGIN @media (max-width: 1024px)
~ Portrait width of iPad Pro */
@media (max-width: 1024px){
  .game-rules-list-div {
    width: 75%;
  }
  
  .game-rules-list li {
    margin: 0.33rem;
    padding: 0.33rem;
  }
}  /* END @media (max-width: 1024px) */

/* BEGIN @media (max-width: 820px)
~ Screen width in portrait mode of iPad Air */
@media (max-width: 820px) {
  .game-rules-list-div {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
  }
  
  .game-rules-list li {
    margin: 0.67rem 0;
    padding: 0;
  }
}  /*  END @media (max-width: 820px) */

/* Custom styles for Bootstrap medium screens and smaller */
@media (max-width: 768px) {
  #math-facts-select-div {
    flex-direction: column;
  }
  
  #math-facts-select, #math-facts-go-btn {
    margin-bottom: 1rem;
  }
}

/* BEGIN @media (max-width: 932px) and (max-height: 440px):
~ Screen width and height in landscape mode of iPhone 14 Pro Max */
@media (max-width: 932px) and (max-height: 440px) {
  p.game-description {
    display: none;
  }
  
  .game-rules-list-div {
    margin-bottom: 2.4rem;
  }
}  /*  END @media (max-width: 932px) and (max-height: 440px) */

/* BEGIN @media (max-width: 375px) and (max-height: 740px):
~ Screen width and height in portrait mode of Samsung Galaxy S8 */
@media (max-width: 390px) and (max-height: 845px) {
  p.game-description {
    display: none;
  }
  
  .game-rules-list-div {
    margin-bottom: 2.4rem;
  }
  
  .answer-input {
    width: 16rem;
  }
  
  div#calculator {
    width: 16rem;
  }
} /*  END @media (max-width: 375px) and (max-height: 740px) */

